@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-family: "Exo 2";
}

body {
  color: white;
  background: linear-gradient(200deg, rgb(130, 11, 141) 0%, rgb(28, 148, 138) 50%, rgb(117, 22, 113) 100%);
  margin: 0px auto;
  max-width: 1360px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
header {
  margin: 20px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
ul {
  padding: 0px 10px;
  background-color: rgb(170, 0, 0);
  list-style: none;
  border-radius: 5px;
}
li {
  margin: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  display: inline-block;
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding-bottom: 2px;
}
a:hover {
  border-bottom: 3px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-style: solid;
  border-color: white;
}
.void {
  width: 25%;
}
#login-btn{
    border: none;
    color: white;
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 1.2rem;
    padding: 10px 25px;
    background-color: rgb(170, 0, 0);
    border-radius: 40px;
}
#login-btn:hover{
    background-color: rgb(87, 0, 0);
    cursor: pointer;
}

main{
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
}
aside{
  text-align: center;
    width: 40%;
}
#imagem-principal{
    width: 350px;
    filter: drop-shadow(0px 0px 25px rgb(160, 59, 0));
    
}
article{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
      text-align: end;
      font-weight: 700;
    }
}
.title-article1{
  line-height: 5px;
  text-align: end;
  font-size: 1.5rem;
  .title1{
    color: rgb(170, 0, 0);
    filter: drop-shadow(0px 0px 10px rgb(198, 99, 255));
  }
}
form{
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 90%;
  input{
    border: none;
    margin: 10px 0px;
    min-width: 70%;
    padding: 10px;
    border-radius: 40px;
  }
  #btn-cadastrar{
    border: none;
    color: white;
    font-family: "Exo 2";
    font-weight: 700;
    font-size: 1.2rem;
    padding: 10px 25px;
    background-color: rgb(170, 0, 0);
    border-radius: 40px;
}
  #btn-cadastrar:hover{
    background-color: rgb(87, 0, 0);
    cursor: pointer;
}
}
footer{
  text-align: center;
  font-weight: 700;
  margin-top: 47px;
  position: relative;
  bottom: 5px;
}